{% extends "base.html" %} {% load static %}
<!-- css -->
{% block css_app %}
<link rel="stylesheet" href="{% static 'browse/css/styles.css' %}" />
<link rel="stylesheet" href="{% static 'hgraphy/css/styles.css' %}" />
{% endblock %}
<!-- End of CSS  -->
<!-- Content Horrorgraphy -->
{% block content %}
<div class="browse">
  <h2>Horrorgraphy</h2>
  <p>HORROR FILMOGRAPHY: From visionary directors to unforgettable characters, this Horror Filmography highlights the creators, actors, and monsters that defined the genre across generations.</p>
</div>
{% endblock %}
<!-- End of Content Horrorgraphy -->
