<div class="content">
  <div class="upcoming">
    <h4>&#x1F39E; Upcoming Horror Movies</h4>
    <div class="movie-list">
      {% for m in upcoming_movies %}
      <a href="/movie/{{m.id}}/" class="movie-link">
        <div class="poster-wrapper">
          <img src="https://image.tmdb.org/t/p/w500{{ m.poster_path }}" alt="{{ m.title }}" width="150" />
          <h6 class="poster_name">{{ m.title }}</h6>
          <h6>Release: {{ m.release_date }}</h6>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="top-movie">
    <h4>&#x1F3A5; Best 2025 Horror Movie</h4>
    <div class="movie-list">
      {% for m in top_movies %}
      <a href="/movie/{{m.id}}/" class="movie-link">
        <div class="poster-wrapper">
          <img src="https://image.tmdb.org/t/p/w500{{ m.poster_path }}" alt="{{ m.title }}" width="150" />
          <span class="rating">⭐ {{ m.vote_average|floatformat:1 }}</span>
          <h6 class="title poster_name">{{ m.title }}</h6>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
